{% extends 'base/top.html' %}
{% block content %}
{% if is_followed is True %}
<p>
<a href="{% url 'accounts:unfollow' user.id %}">followをはずす</a>
</p>
{% else %}
<p>
<a href="{% url 'accounts:follow' user.id %}">followする</a>
</p>
{% endif %}
<a href="{% url 'accounts:following_list' user.username %}">follow一覧</a>
<a href="{% url 'accounts:follower_list' user.username %}">follower一覧</a>
<li>username:{{ user.username }}</li>
<li>nickname:{{ user.nickname }}</li>
<li>user.date_of_birth:{{ user.date_of_birth }}</li>
{% for tweet in post_item %}
<p>
<div class="frame_tweet">
    <p>
        <p>{{ tweet.user }}</p>
        <p>{{ tweet.created_at }}</p>
        <a href="{% url 'tweet:tweet_detail' tweet.pk %}">{{ tweet.content }}</a>
        {% if user == tweet.user %}
        <p><a href="{% url 'tweet:tweet_delete' tweet.pk %}">削除</a></p>
        {% endif %}
    </p>
</div>
</p>
{% endfor %}
{% endblock %}
