{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Londrina+Shadow"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>TTTer</title>
  </head>

  <body>
    <div id="title">
      <h1>TTTer</h1>
      <div class="right_menu">
        {% if user.is_authenticated %}
        <a>user info</a>
        <a href="{% url 'accounts:logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">Log in</a>
        <a href="{% url 'accounts:user_data_input' %}">Sign up</a>
        {% endif %}
      </div>
    </div>
    <div id="main">
      <div class="menu_container">
        <li><a href="{% url 'tweet:home' %}">Home</a></li>
        <li><a href="{% url 'tweet:tweet_create' %}">Tweet</a></li>
      </div>
      <div class="content">{% block content %} {% endblock content %}</div>
    </div>
    <script type="js" src="{% static 'js/'}"></script>
  </body>
</html>
